/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Jun, 2014, 6:01:48 PM
    Author     : tilak
*/


.autocomplete-w1 { background:url(img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; } 
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; } 
.autocomplete .selected { background:#F0F0F0; } 
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; } 
.autocomplete strong { font-weight:normal; color:#3399FF; } 




#top{
 
    

}


#middle{
    background-color:#eeeeee;
    background-size:contain;
    
    
     height: 100%;
   // height: 1044px;
    //width: 1280px;
}

#bottom{
   
   
}
#img{
   // display: inline;
 
}
#body,html{
    
     height: 200%;
   //  background-color:#eeeeee;
   // background-size:contain;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.visible{
    visibility: visible;
    
}
.slabel{
    
}
.flabels{
    
    width: 200px;
    font-size:large;
    vertical-align:-60%;
    

}
#submit{
    margin-top: 30px;
    width: 140px;
    
    font-size:medium;
}
.fields{
    width: 340px;
    height: 30px;
    margin-top:30px;

    
}
.hidden{
    visibility: hidden;
}
#warning{
    
    position: fixed;
    left: 30%;
    right: 30%;
     bottom:  10%;
   
}

